 html {
    box-sizing: border-box;
 }


 * ,
* ::before ,
* ::after {
    box-sizing : inherit ;
}

body {
    background-color: skyblue;
    background-image: ("/img/charisse-kenion-W6mdQYenu44-unsplash.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#wrapper {
    width: 60%;
    background-color: rgba(1, 10, 231, 0.5);                                                   
    color: blue;                                  
    padding: 2rem;                           
    border-radius: 2rem;                  
    margin: 0, auto;      
}