html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #3C4048;
    letter-spacing: .04rem;
    
}


h1,
h2,
h3 {
    color: rgb(0, 171, 179);
    text-align: center;
    text-decoration: underline dotted rgba(0, 171, 179, 1);
    text-underline-offset: 9px;
    font-weight: 100;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav{
    text-align: center;
}

nav :hover{
    color: #3C4048;
    font-style: italic;
    text-transform:uppercase;
    text-decoration: underline dotted rgb(123, 34, 4);
    text-decoration-style: double;
}

section :hover{
    color: #3C4048;
    font-style: italic;
    text-transform:uppercase;
    text-decoration: underline dotted rgb(123, 34, 4);
    text-decoration-style: double;
    text-decoration-color: coral;
    text-decoration-thickness: 2px;

}
li:hover::before,
li:hover::after{
    content:  "🙂" ;
}